# Application
VITE_APP_NAME=Navix Management
VITE_APP_ENV=development
VITE_APP_VERSION=0.1.0
VITE_APP_DESCRIPTION=Navix Management — Plateforme SaaS de gestion de flotte de véhicules
VITE_APP_AUTHOR=Navix Team
VITE_APP_COMPANY=Navix
VITE_APP_URL=https://navix.app

# API
VITE_API_BASE_URL=http://localhost:8000/api
VITE_API_TIMEOUT=15000
VITE_API_MOCK=true

# Thème par défaut (light | dark | system)
VITE_DEFAULT_THEME=dark
