.navix-audit-metadata__key {
  width: 35%;
}

.navix-audit-metadata__code {
  font-size: 0.75rem;
  word-break: break-all;
}

.navix-audit-metadata__value {
  font-size: 0.8125rem;
  word-break: break-word;
}

.navix-audit-metadata__formatted {
  white-space: pre-wrap;
  font-family: var(--bs-font-monospace);
  font-size: 0.75rem;
}
